.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#skatePageH1 {
    color: #2c3e50;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.layoutSkatePage {
    display: flex;
}

.sidebarSkatePage {
    width: 25%;
    padding: 10px;
}

.sidebarSkatePage ul {
    list-style: none;
    padding: 0;
}

.sidebarSkatePage li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sidebarSkatePage li:hover {
    background-color: #e0e0e0;
}

.contentSkatePage {
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skateboard-imageSkatePage {
    max-width: 400px;
    height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}